 <% unless current_page?('/') %>
<footer class="main-footer">
  <div class="pull-right hidden-xs">
  </div>
  <strong>
   Universidad Peruana de Clencias Aplicadas - Copyright © 2018
  </strong>
  All rights reserved.
</footer>
 <% end %>